.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.logo-link img {
    width: 100px;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.user-info button {
    background-color: #61dafb;
    border: none;
    padding: 10px;
    cursor: pointer;
}